{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 container">
        {{ include('main/_breadcrumb.html.twig') }}
        {% for post in postsByCategory %}
            <div class="d-flex align-items-center">
                <div class="mr-5">
                    <img class="card-img-left" src="{{ absolute_url(asset('assets/img/' ~ post.imageFile)) }}" alt="" style="width: 275px; height: 180px;object-fit: cover">
                </div>
                <div>
                    <h2>{{ post.title }}</h2>
                    <p class="lead">{{ post.description }}</p>
                    <p class="lead mb-0"><a href="{{ path('show', { id: post.id }) }}" class="text-danger">Continue reading...</a></p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}