{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/slider.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
{% endblock %}

{% block body %}

    {{ include('main/_hero.html.twig') }}

    <div class="container">
        <div class="row mb-2 py-4">
            <div class="col col-md-10">
                {{ include('main/_latest_posts.html.twig') }}
            </div>
            <div class="col col-md-2">
                {{ include('main/_categories.html.twig') }}
            </div>
        </div>
    </div>

    <hr>
    {% if rss.channel.item|length >= 6 %}
        {{ include('main/_rssslider.html.twig') }}
    {% endif %}
    <hr>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script>
        new Splide( '.splide', {
            type   : 'loop',
            perPage: 3,
            perMove: 1,
            pagination: false,
            autoplay: true,
            number: 3000
        } ).mount();
    </script>
{% endblock %}
