{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <main class="col-md-11 ms-sm-auto col-lg-11 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="container-fluid">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">All Users</h1>

                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a href="{{ path('admin_new_user') }}"><button type="button" class="btn btn-sm btn-outline-secondary">Add User</button></a>
                    </div>
                </div>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="table-responsive">
                <table class="table table-striped table-sm bg-white">
                    <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in list %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.roles| first }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    {# ToDo: Edit function #}
                                    {# <button type="button" class="btn btn-outline-primary btn-sm">Edit</button> #}
                                    <a href="{{ path('admin_remove', {id: user.id}) }}">
                                        <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>


{% endblock %}